@tailwind base;

html {
  scroll-behavior: smooth;
  flag: "F_LAG_PART_1_OF_3=6658f92ce3";
}

body {
  background-color: #f8f8fa;
}

.grecaptcha-badge { visibility: hidden; }

@tailwind components;
@tailwind utilities;
